
body{
    font-family: 'Inter', sans-serif;
}

header{
    width: 100%;
    height:100px;
    background-color:aliceblue;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 40px;
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

main{
    width: 100%;
    height: 80%;
    background-color: aliceblue;
    display: flex;
}

section {
    width: 20%;
    height: 820px;
    background: aliceblue;
    display: inline-block;
    justify-content: space-between;
}

.section1{
    width: 60%;
    background: aliceblue;
    margin: 0px 0px 0px 125px;
}

.texto_ha_encriptar{
    width: 100%;
    height: 50%;
    border-style: none;
    font-size: 20px;
    font-family: "Inter";
    font-style: normal;
    resize: none;
    padding: 0px;
    margin: 50px 100px 0px;
    background-color: aliceblue;
    outline: none;
}
.areaTexto{
    width: 80%;
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;
    margin: 25px 0px 0px 200px;
}
.btn-encriptar{
    width: 328px;
    height: 67px;
    color: white;
    background: #0A3871;
    border-radius: 24px;
}

.btn-desencriptar{
    width: 328px;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
}

.section2{
    width: 30%;
}

.texto_enctriptado{
    background-color: white;
    width: 80%;
    height: 80%;
    margin: 25px;
    border-radius: 25px;
}

.texto_enctriptado img {
    width: 336px;
    height: 304px;
    right: 220px;
    top: 283px;
}

footer{
    width: 100%;
    height: 50px;
    background: aquamarine;
}